---
- name: Install useful package on all platform
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - bash-completion
    - vim
    - net-tools
    - tree
    - iotop
    - sysstat
    - haveged

- name: Install useful package on Debian
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - dnsutils
  when:
    - ansible_os_family == "Debian"

- name: Install useful package on RedHat
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - epel-release
    - bind-utils
  when:
    - ansible_os_family == "RedHat"

- name: Configure ulimit
  template:
    src: limits-99-common.conf
    dest: /etc/security/limits.d/99-common.conf
    owner: root
    group: root
    mode: 0644

- name: Set selinux
  selinux:
    state: disabled
  when:
    - ansible_os_family == "RedHat"

- name: Set timezone
  timezone:
    name: "{{ timezone }}"

- name: Stop and disable firewalld
  service:
    name: firewalld
    enabled: no
    state: stopped

- name: Remove swapfile from /etc/fstab
  mount:
    name: swap
    fstype: swap
    state: absent

- name: Disable swap
  command: swapoff -a
  when: ansible_swaptotal_mb > 0
